<h4>
  Goal: <%= @goal.present? ? @goal : link_to("Add Goal", new_goal_path) %>
  <br>
  Saved: $<%= @marks.sum(&:amount) %>
</h4>

<%= link_to "Earmark", new_mark_path, :class => 'btn btn-primary' %>
<div class='new-mark-form'>
  <%= simple_form_for @mark do |f| %>
    <%= f.label :description %>
    <%= f.input :description, :label => false, :input_html => {:class => 'form-control'} %>
    <%= f.label :amount %>
    <%= f.input :amount, :label => false, :input_html => {:class => 'form-control'} %>

    <div class="btn-group">
      <%= f.submit "Submit", :class => 'btn btn-success wide' %>
      <%= link_to "Cancel", :back, :class => "btn btn-danger wide" %>
    </div>

  <% end %>
</div>

<h4 class='m-top'>Earmarks</h4>
<ul>
  <% @marks.each do |mark| %>
    <li><%= mark %></li>
  <% end %>
</ul>
