<%= simple_form_for @goal do |f| %>
  <%= f.label :description %>
  <%= f.input :description, :label => false, :input_html => {:class => 'form-control'} %>
  <%= f.label :amount %>
  <%= f.input :amount, :label => false, :input_html => {:class => 'form-control'} %>

  <br>
  <div class="btn-group">
    <%= f.submit "Submit", :class => 'btn btn-success wide' %>
    <% if @goal.persisted? %>
      <%= link_to "Cancel", :back, :class => "btn btn-danger wide" %>
    <% end %>
  </div>
<% end %>
