<!DOCTYPE html>
<html>
<head>
  <title>Earmark</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=320;">
</head>
<body>

<div class="center">
  <h3 class="no-margin"><%= Earmark %></h3>
  <hr>

  <%= yield %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</div>

</body>
</html>
